.landing{
    background-image: url("images/h_img.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top:17%;
    padding-bottom: 2%;
    font-family: 'Roboto', sans-serif;
  }
  .landing h1{
    padding: 2px;
    margin: 5px;
  }
  .landing p{
    padding: 2px;
  }
  
    /* styling the mouse */
  #mouse-click {
    animation: bounce 2s infinite;
    padding-top : 15px;
    margin-top: 10%;
    padding-bottom: 25px;
  }
  #logo{
    margin-top: 12px;
    margin-bottom: 24px;
    width: 70px;
    height: 70px;;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-55px);
    }
    60% {
      transform: translateY(-45px);
    }
  }
  
    /* styling about us section */
  .about{
    text-align: center;
    padding-bottom: 30px;
    padding-top:40px;
    font-family: 'Copse', serif;
  }
  #about{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  
  
    /* styling the services section */
  .services{
    text-align: center;
    background-image: url( "images/s_image.jpg");
    color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
  }
  .services h2{
    font-family: 'Roboto', sans-serif;
      
  }
  #servicesoverlay{
    background-color: rgba(27, 27, 27, 0.3);
    padding-top: 8%;
    padding-bottom: 8%;
  }
  
  /* what we do section */
  .what-we-do .headings{
    padding-bottom: 2%;
    padding-top: 2%;
  }
  .what-we-do{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 40px;
  }
  #design, #development, #product{
    display: none;
    font-family: 'Copse', serif;
    font-size: 16px;
  }
  #desidn .title, #development .title, #product .title{
    font-size: 20px;
    font-weight: 600;
  }
  .title{
    padding: 6px;
  }
  
  /* styling portfolio section */
  #portfolio{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left:18%;
    margin-right: 16%; 
  }
  .col-md-3 img{
    max-width: 100%;
    max-height: 100%;
  }
  .portfolio h2{
    text-align: center;
    padding-top:40px;
    font-family: 'Roboto', sans-serif;
  }
  #overlay,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay7,#overlay8{
    display: none;
    color: rgb(12, 13, 14);
    /* border:1px solid #000; */
    width: 100%;
    height: 100%;
    background-color:rgba(243, 242, 242, 0.6);
    position:absolute;
    top: 20px;
    left: 35px;
    
    text-align: center;
    font-size: 20px;
    padding-top: 10%;
    font-family: 'Roboto', sans-serif;
  }
  @media only screen and (max-width: 755px){
    #overlay,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay7,#overlay8{
      width: 100%;
      height: 100%;
      top: 20px;
      left: 16px;
      padding-top: 20%;
    }
    .col-md-3 img{
      width:100%px;
      margin: 20px;
    }
    #portfolio{
      margin-left:8%;
      margin-right: 16%;
       
    }
    button{
      margin-left: 2%;
      padding-bottom: 30px;
      margin-bottom: 20px;
    }
  }
  @media only screen and (max-width: 425px){
    #overlay,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay7,#overlay8{
      width: 100%;
      height: 100%;
      top: 20px;
      left: 16px;
      padding-top: 20%;
      font-size: 20px;
    }
    .col-md-3 img{
      width:100%px;
      margin: 20px;
    }
    #portfolio{
      margin-left:8%;
      margin-right: 16%; 
    }
    button{
      padding-bottom: 30px;
      margin-bottom: 20px;
    }
    #MERGE0{
      width: 84%;
      margin-left: 4%;
      padding-bottom: 10px;
    }
    #MERGE1{
      width: 100%;
      margin-left: 4%;
      margin-bottom: 20px;
    }
    #comment{
      margin-left: 4%;
      width: 84%;
    }
  }
  @media only screen and (min-width: 825px){
    #overlay,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay7,#overlay8{
      width: 100%;
      height: 100%;
      top: 20px;
      left: 20px;
      padding-top:30%; 
    }
    .col-md-3 img{
      width: 400px;
      margin: 20px;
    }
    #portfolio{
      margin-left:10%;
      margin-right: 10%; 
    }
  }
  @media only screen and (min-width: 625px){
    #overlay,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay7,#overlay8{
      width: 100%;
      height: 100%;
      top: 20px;
      left: 20px;
      padding-top:20%; 
      font-size: 26px;
    }
    .col-md-3 img{
      width: 400px;
      margin: 20px;
    }
    #portfolio{
      margin-left:6%;
      margin-right: 10%; 
    }
  }
  
  /* styling form input section */
  .contact{
    background-image: url("images/c_image.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
  }
  .contact h2{
    text-align: center;
    margin-top: 30px;
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif
  }
  input[type=text],input[type=email],#comment{
    background: transparent;
    color: rgb(241, 229, 229);
    font-size: 20px;
    font-family: 'Copse', serif;
  }
  .form-control::-webkit-input-placeholder { 
    color: rgb(235, 219, 219); 
  }
  #MERGE1{
    width: 30%;
    margin-left: 18%;
    margin-right: 30px;
  }
  #MERGE0{
    width: 30%;
  }
  #comment{
    margin-left: 20%;
    width: 60%;
  }
  button{
    align-items: center;
    padding-bottom: 30px;
    margin-bottom: 20px;
  }
  
  /* styling footer section */
  footer{
    text-align: center;
    padding-top: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  footer p{
    margin-top: 10px;
  }
  
  .show1 {
    display: none;
  }
  .show2 {
    display: none;
  }
  .show3 {
    display: none;
  }
  
  
  
  